<div class='top-bar topbar-center-logo hide-for-medium'>
  <div class="mobile-dropdown-button float-left">
    <button class='dropdown-bottom' type="button" data-toggle="dropdown-bottom-right"><i class='menu-icon font-30 strong'></i></button>
  </div>
</div>