<div class="dropdown-pane small-12" data-position="bottom" data-alignment="right" id="dropdown-bottom-right" data-dropdown data-auto-focus="false">
  <ul class='vertical menu'>
    <%= render partial: 'layouts/shared/feed_list' %>
  </ul>
</div>
