/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
 @import "foundation_and_overrides";
 @import 'fonts/icomoon';

* {outline:none;}
a {
  color: $black;  
  webkit-transition: opacity .3s ease-in;
  -moz-transition: opacity .3s ease-in;
  -o-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
  opacity:1;
  &:hover {
    color: $primary-color;  
    opacity: 0.8;
  }
}

.font-14 {
  font-size:14px;
  @include breakpoint(small only) {
    font-size:12px;
  }
}
.font-16 {
  font-size:16px;
  @include breakpoint(small only) {
    font-size:13px;
  }
}
.font-18 {
  font-size:18px;
  @include breakpoint(small only) {
    font-size:14px;
  }
}
.font-24 {
  font-size:24px;
  @include breakpoint(small only) {
    font-size:18px;
  }
}
*[class*='font-'] {line-height: 1.25;}
aside {
  background-color: $light-gray;
  height: 100%;
  position: fixed;
  top:0;
  padding: 60px 0px 20px;
  font-size:14px;
  .main-menu {
    li {
      position: relative;
      &:hover {
      }
      a {
        display: block;
        padding: 5px 40px 5px 5px;
        width: 100%;
        &.delete-feed {
          display: none;
          font-size:11px;
          font-weight: bold;
          padding: 0;
          position: absolute;
          width: 20px;
          right: 0px;
          top: 8px;
          text-align: center;
          z-index: 1;
        }
        span {
          font-size: 10px;
        }
      }
      &:hover, &.selected {
        background-color: $medium-gray;
        a {
          color: $primary-color;
          &.delete-feed {
            color: $alert-color;
            display: block;
          }
        }
      }
    }
  }
}
.content-wrapper {
  padding: 60px 0;
}

.form-wrapper {
  margin-bottom:30px;
  overflow: hidden;
  form {
    input {
      padding: 0 5px;
      float: left;
      height: 40px;
      &#feed_url {
        width: calc(100% - 100px);
      }
      &[type="submit"] {
        width: 100px; 
      }
    }
  } 
}

.dropdown-pane {
  background-color:#eff1f3;
  top: 44px !important;
  left: 0 !important;
  padding-bottom: 40px;
  padding-top: 40px;
  width: 100% !important;
  a {
    padding: 10px 0;
  }
}
.list-items {
  li {
    border-bottom: 1px solid $medium-gray;
    padding: 10px 20px 10px 0;
    position: relative;
    a {
      display: block;
      font-weight: bold;
      &.delete-item {
        position: absolute;
        right: 5px;
        top: 15px;
        color: $dark-gray;
        font-size: 10px;
      }
    }
    span {color: $dark-gray;}
    &:first-child {
      border-top: 1px solid $medium-gray;
    }
  }
}

.pagination {
  a {
    color: $white;
    font-weight: bold;
    line-height: 30px;
  }
}

.title-wrapper {
  position: relative;
  padding-right: 70px;  
  .actions {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.loader {
  -webkit-animation: spin 2s infinite linear;
  display: -webkit-inline-box;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    50%  {-webkit-transform: rotate(180deg);}
    100% {-webkit-transform: rotate(360deg);}   
}